.texto-piscando {
    animation: piscar 1s infinite;
}

@keyframes piscar {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.iconeWhatsapp {
    font-size: 35px;
    color: green;
  }