.fundo{
    /* background-image: url(/src/img/fundo.jpg); */
    background-image: url(https://template204968.motopreview.com/mt-demo/204900/204968/mt-content/uploads/2021/09/mt-2259-bg1.png);
    background-size: cover;
}

.titulos-navbar{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 18px !important;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    border-color: transparent;
}

.titulo{
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Parisienne', handwriting;
    color: #d7a46a;
    font-size: 80px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: end;
    padding: 50px 50px 0px 50px;
}

.subtitulo{
    line-height: 1;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Parisienne', handwriting;
    color: #8c8c8c
    ;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: end;
    padding: 0px 50px 0px 5px;
}

.frase{
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #8c8c8c;
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: end;
}
